<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802541222980-ubr6i972nuac8qigv6e2e3hnpvplk821.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802541222980-ubr6i972nuac8qigv6e2e3hnpvplk821</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802541222980-bh1714efcs9e7dnhuaa3rcfnlgklhfiq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzcTj01nw9d4UM8_doBJfft8wS-Qa3iJs</string>
	<key>GCM_SENDER_ID</key>
	<string>802541222980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.filmflexMovieApplication</string>
	<key>PROJECT_ID</key>
	<string>filmflex-movie-application</string>
	<key>STORAGE_BUCKET</key>
	<string>filmflex-movie-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802541222980:ios:74480a96f7a523e15f1011</string>
</dict>
</plist>